@model WebApp.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid text-center" id="logicalpandagrid">

    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            <h2>Details</h2>
        </div>
    </div>

    <fieldset>
        <legend>Post</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Date)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Date)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Content)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Content)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


</div>