@model WebApp.Models.Leaderboard

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid text-center" id="logicalpandagrid">

    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            <h2>Delete</h2>
        </div>
    </div>

    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Post</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Created)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Created)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Game)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Game)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }


</div>