@model WebApp.Models.Leaderboard

@{
    ViewBag.Title = "Details";
}

<div id="about-splash"></div>
<div id="content">
    <h2>@Html.DisplayFor(model => model.Game)</h2>

    @*<fieldset>
        <legend>@Html.DisplayFor(model => model.Game)</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Created)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Created)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Game)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Game)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreatedBy.UserName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </div>
    </fieldset>*@
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
    <br />

    <table class="posts">
        <tr>
            <th class="date-column"><div class="content">Recorded</div></th>
            <th class="content-column"><div class="content">Record Holder</div></th>
            <th class="content-column"><div class="content">Score</div></th>
        </tr>


        @foreach (var item in Model.LeaderboardRecords.OrderByDescending(i => i.Score))
        {
            <tr>
                <td><div class="content">@Html.DisplayFor(modelItem => item.RecordCreated)</div></td>
                <td><div class="content">@Html.DisplayFor(modelItem => item.RecordHolder.UserName)</div></td>
                <td><div class="content">@Html.DisplayFor(modelItem => item.Score)</div></td>
            </tr>
        }
    </table>

    <br />
    <p class="posts">
        @Html.ActionLink("Add New Record!", "CreateRecord", "Leaderboard", new { leaderBoardId = Model.Id }, null)
    </p>


</div>