@model WebApp.Models.Leaderboard

@{
    ViewBag.Title = "Details";
}



<div class="container-fluid text-center" id="logicalpandagrid">

    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            <h2>@Html.DisplayFor(model => model.Game)</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            @Html.DisplayNameFor(model => model.LeaderboardRecords.FirstOrDefault().RecordCreated)
        </div>
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.LeaderboardRecords.FirstOrDefault().RecordHolder)
        </div>
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.LeaderboardRecords.FirstOrDefault().Score)
        </div>
        <div class="col-xs-2">
            Actions
        </div>
    </div>

    @foreach (var item in Model.LeaderboardRecords.OrderByDescending(i => i.Score))
    {

        <div class="row">
            <div class="col-xs-2 col-xs-offset-2">
                @Html.DisplayFor(modelItem => item.RecordCreated)
            </div>
            <div class="col-xs-2">
                @Html.DisplayFor(modelItem => item.RecordHolder.UserName)
            </div>
            <div class="col-xs-2">
                @Html.DisplayFor(modelItem => item.Score)
            </div>
        </div>
    }
    <br />

    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            @Html.ActionLink("Add New Record!", "CreateRecord", "Leaderboard", new { leaderBoardId = Model.Id }, null)
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

</div>



