<!DOCTYPE html>
<html lang="en" height="100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LogicalPanda: A collection of mini projects by Gerard Corr">
    <meta name="author" content="LogicalPanda">
    <title>LogicalPanda</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/FontAwesome/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Logical Panda</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Apps
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("GeoShare", "GeoShare", "Home")</li>
                            <li>@Html.ActionLink("Game", "Game", "Home")</li>
                            <li>@Html.ActionLink("Football App", "FootballApp", "Home")</li>
                            <li>@Html.ActionLink("Kanban", "Kanban", "Home")</li>
                            <li>@Html.ActionLink("Leaderboards", "Index", "Leaderboard")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("News", "News", "Home")</li>
                    <li>@Html.ActionLink("Posts", "Index", "Post")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                    
                </ul>
            </div>
        </div>
    </nav>
                        @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>