@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li><a href="@Url.Action("Index", "Manage")"><span class="glyphicon glyphicon-log-in"></span> @("Hello " + User.Identity.GetUserName() + "!")</a></li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-in"></span> Log off</a></li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    }
}
else
{
    <!--<li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>-->
    <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
}
