@model WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container-fluid text-center" id="logicalpandagrid">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="cell">
                <a href="@Url.Action("Login", "Account")"><div class="icon-or-title"><i class="fa fa-sign-in" style="font-size:48px;"></i><br />Login</div></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="cell cell-2-1">
                <div class="icon-or-title"><h2>Register</h2></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="cell cell-2-1">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="cell cell-5-1 cell-with-content">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-offset-1 col-sm-8">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-offset-1 col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-offset-1 col-sm-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-offset-1 col-sm-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-sm-offset-1 col-sm-8">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
